@import "tailwindcss";

:root{
  --bg-gradient: linear-gradient(145deg, rgb(9, 26, 131) 10%, rgb(9, 128, 233) 79%);  
  --font-size-base: 1.2rem;
  --font-size-heading: 3rem;
  --text-color: rgb(3, 76, 221);
  --content-color: rgb(124, 140, 147);
}

body{
  background-color: rgb(0, 0, 0);
  color: white;

}

.logo{
  color: var(--text-color)

}

.nav-links{
  transition: .5s all;
}
.nav-links:hover{
  transform: translateY(-5px);
  color: var(--text-color)
}

.btn, .btn-alternate{
  background: var(--bg-gradient);
  color: rgb(255, 255, 255);
  padding: 0.55rem 1rem;
  font-size: var(--font-size-base);
  transition: .5s all;
  border-radius: .5rem;
  font-weight: 500;
}

.btn:hover, .btn-alternate:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgb(0, 60, 255);
  cursor: pointer;
}

.btn-alternate{
  background: rgb(255, 255, 255);
  color: black;
}

.btn-alternate:hover{
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.heading{
  font-size: var(--font-size-heading);
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}

.sub-heading{
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content{
  font-size: var(--font-size-base);
  color: var(--content-color);
  letter-spacing: 2px;
  text-align: start;
  width: 60%;
}

.about-content{
  width: 90%;
}

.about-card{
  background-color: rgba(13, 13, 13, 0.446);
}

.card-content{
  color: var(--content-color);
}
