@import "tailwindcss";

:root{
  --bg-gradient: linear-gradient(15deg, rgb(14, 40, 204) 10%, rgba(0, 103, 194, 1) 79%);  
  --font-size-base: 18px;
  --text-color: rgb(3, 76, 221);
}

body{
  background-color: rgb(0, 0, 0);
  color: white;
}

.logo{
  color: var(--text-color)

}

.nav-links{
  transition: .5s all;
}
.nav-links:hover{
  transform: translateY(-5px);
  color: var(--text-color)
}

.btn, .btn-alternate{
  background: var(--bg-gradient);
  color: rgb(255, 255, 255);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-size: var(--font-size-base);
  transition: .5s all;
  border-radius: 5rem;
  font-weight: 500;
}

.btn:hover, .btn-alternate:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgb(0, 60, 255);
  cursor: pointer;
}

.btn-alternate{
  background: rgb(255, 255, 255);
  color: black;
}

.btn-alternate:hover{
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.home-name{
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

